* {
  all: unset;
  padding: 0px;
  margin: 0px;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 20px;
}

.completion {
  background-color: gray;
  margin: 1px;
  padding: 1px;
}

.launcher {
  border-radius: 5%;
  background-color: black;
  padding: 10px;
}

.app {
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: black;
} 
