* {
  all: unset;
  padding: 0px;
  margin: 0px;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 20px;
}

box {
  margin: 2px;
}

.app {
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: black;
} 
